.slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    padding-bottom: 5px;
    position: relative;
    left: calc(50% + 50px);

}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    height: 1;
    animation: shift 30s infinite alternate;
    animation-timing-function: linear;
    justify-content: center;
}

.slider li{
    width: 90%;
    list-style: none;
}

.slider img{
    margin: auto;
    width: 70%;
    border: black 5px solid;
}

@keyframes shift{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
